body{
    background-image: none;
}
ion-toolbar{
    background-color: black;
    color:white;
}
.appoint{
    color:white;
    letter-spacing: 3px;
    word-spacing: 6pxpx;
    font-weight: bolder;
}
.appoint:hover{
    color:red;
}