<body>
<ionic-toolbar class="main-nav">
  <ion-title class="ion-text-center"><span> HONDAZZ </span></ion-title>
 
</ionic-toolbar>
<ion-card class="intro-card">
  <ion-card-content>
    <ion-icon name="ribbon-outline"></ion-icon>  WE PROVIDE BEST IN CLASS SERVICE AND OFFERS TO BECOME A DREAM <font color="red"><b>HONDA</b></font> TWO-WHEELER  OWNER YOU DESIRED TO BE
  </ion-card-content>
</ion-card>
<ion-grid class="service-grid">
  <ion-row>
    <ion-col class="services">
      
      REGISTER/LOGIN
    </ion-col>
    <ion-col class="services">
      BROWSER TWO WHEELERS
    </ion-col>
    <ion-col class="services">
      SERVICE APPOINTMENT
    </ion-col>
  </ion-row>
</ion-grid>
</body>